.aboutus-underline {
    width: 104px;
    height: 4px;
    background: #ff0088;
    border-radius: 4px;
    margin: 1rem 0rem;
    }

.about-container {
  background: linear-gradient(90deg, #0066cc, #3fa3e0);
     clip-path: polygon(0 0, 100% 0%, 100% 90%, 0% 100%);

    .about-tagline {
      color: var(--yellow);
      font-size: 3rem;
      font-style: italic;
      padding-left: 2rem;
    }


    .about-banner {
        background: linear-gradient(90deg, rgb(0, 102, 204, 0.9), rgb(63, 163, 224, 0.9)), url(../img/bg-banner.jpg) no-repeat center bottom / cover fixed;
        padding: 0 2rem;
        height: 1200px;
        color: var(--white);
        }
       
        .about-text {
          grid-area: text;
          column-count: 2;     
          column-gap: 2rem;  
          margin-top: 2rem;  
        }

        .about-img img {
         border-radius: 1rem;
         width: 100%;
         height: 50vh;  
         }

        .about-text ul {
          display: flex;
          gap: 5px;
        }

        .container {
            padding: 8rem 0rem;
            p {
                margin: 1rem 0;
            }
            .btn {
                width: fit-content;
            }

    
}

 @media (min-width: 750px) {
       
        .about-banner { 
            height: 1200px;
            .container {
                .about-content {
                    grid-area: 1 / 1 / 2 / 9;
                }
            }
        }
    }

@media (max-width: 550px) {

  .about-banner {
      height: 2400px;
      clip-path: polygon(0 0, 100% 0%, 100% 90%, 0% 100%);

  .container {

    .about-text {
          grid-area: text;
          column-count: 1;     
          column-gap: 2rem;    
      }
        
        }
      }
       .about-text ul {
          display: unset;
          gap: 5px;
          
        }
}

}

.owner-section {
  padding: 5rem 0;
  position: relative;

  img.about-bg {
        position: absolute;
        bottom: -420px;
        left: -430px;
        z-index: 1;
        rotate: 30deg;
        width: 80%;
        opacity: 0.4;
        @media (max-width: $ipad) {
        bottom: 400px;
        left: -160px;
        z-index: 1;
        rotate: 40deg;
        width: 100%;
        opacity: 0.4;
        }
    }

  .owner-inner {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 1.5rem;
    display: grid;
    grid-template-columns: minmax(0, 2fr) minmax(0, 1.3fr);
    gap: 3rem;
    align-items: center;
  }

  .owner-text {
    .owner-title {
      color: #2b6fdd;
    }
    .owner-description {
      margin: 2rem 0rem;
    }

  }


  .owner-photo {
    figure {
      position: relative;
      margin: 0;
      z-index: 5;
    }

    img {
      height: 50vh;
      display: block;
      border-radius: 26px;
      object-fit: cover;
      z-index: 5;
    }

    .owner-name {
      position: absolute;
      left: 50%;
      bottom: 20px;
      transform: translateX(-50%);
      padding: 0.9rem 3rem;
      border-radius: 1rem;
      background-color: #000;
      color: #fff;
      font-weight: 600;
      font-size: 1rem;
      text-align: center;
    }

  }


  @media (max-width: 750px) {
    .owner-inner {
      grid-template-columns: 1fr;
      gap: 2rem;
    }

    .owner-photo {
      width: 100%;
      margin: 0 auto;
    }
  }

  @media (max-width: 450px) {
    padding: 3.5rem 0;

    .owner-text {
      .owner-title {
        font-size: 2rem;
      }
    }

    .owner-photo {
      figcaption {
        bottom: 14px;
        padding: 0.7rem 2rem;
        font-size: 0.95rem;
      }
    }
  }
}

.btn {
        position: absolute;
        z-index: 5;
        }