@mixin btn() {
  font-size: 1.2rem;
  font-weight: 600;
  width: 284px;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  border: 0;
  border-radius: 1rem;
  padding: 1rem 3rem;
  background-color: var(--yellow);
  color: var(--dark);
  transition: all 0.3s;
  &:hover {
    background-color: var(--dark);
    color: var(--yellow);
  }

  @media (max-width: $ipad) {
    width: 100%;
  }
}

@mixin btn-black() {
  font-size: clamp(1rem, 0.9632rem + 0.1307vw, 1.125rem);
  font-weight: 600;
  width: 100%;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  border: 0;
  border-radius: 1rem;
  padding: 1rem 2rem;
  background-color: var(--dark);
  color: var(--white);
  transition: all 0.3s;
  &:hover {
    background-color: var(--yellow);
    color: var(--dark);
  }
}

@mixin innerBtn() {
  position: absolute;
  text-align: center;
  width: 330px;
  bottom: 12px;
  left: 50%;
  transform: translateX(-50%);
  background: var(--dark);
  color: var(--white);
  padding: 8px 18px;
  border-radius: 999px;
  white-space: nowrap;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.3s;
  &:hover {
    background-color: var(--white);
    color: var(--dark);
  }
}
