@mixin btn() {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  border: 0;
  border-radius: 1rem;
  padding: 1rem 3rem;
  background-color: var(--yellow);
  color: var(--dark);
  transition: all 0.3s;
  &:hover {
    background-color: var(--margenta);
    color: var(--white);
  }
}

@mixin innerBtn() {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  border: 0;
  border-radius: 30px;
  padding: 1rem;
  background-color: var(--dark);
  color: var(--white);
  &:hover {
    background-color: var(--margenta);
    transition: all 0.3s;
    color: var(--white);
  }
}
