@mixin btn() {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  border: 0;
  border-radius: 15px;
  padding: 1rem;
  background-color: var(--yellow);
  color: var(--dark);
  transition: all 0.3s;
  &:hover {
    background-color: var(--paleblue);
    color: var(--dark);
  }
}

@mixin innerBtn() {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  border: 0;
  border-radius: 30px;
  padding: 1rem;
  background-color: var(--dark);
  color: var(--white);
  &:hover {
    background-color: var(--paleblue);
    color: #1e1e1e;
  }
}

.featured-card-name {
  @include innerBtn();
}

.btn {
  @include btn;
}

// .btn {
//   background-color: rgb(241, 241, 241);
//   padding: 0.5rem;
//   border: 1px solid rgb(187, 187, 187);
//   border-radius: 5px;
//   color: black;
//   text-decoration: none;
// }
