footer {
     background-color: var(--darkcyan);
    .footer-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: var(--white);
    }

    .footer-container a {
        color: var(--white);
    }

}