footer {
     background-color: var(--darkcyan);
     padding: 2rem;
     position: absolute;
     width: 100%;

  .phone-btn {
    position: absolute;
    right: 5%;
    top: -55px;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    background: #ffe94d;
    display: flex;
    align-items: center;
    justify-content: center;
  }

    .phone-btn svg {
    width: 45px;
    height: 45px;
    object-fit: contain;
    }

  .footer-container {
    color: var(--white);
    font-family: "Montserrat", sans-serif;
    @include container(1350px);
  }

  .footer-container .sidebar {
    // background-color: #000000;
  }

  .footer-container .sidebar {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    color: var(--white);
  }

  .footer-container a {
    color: var(--white);
  }

  .footer-container .wp-block-list {
    //background-color: #000000;
    list-style: none;
    padding-left: 0;
  }

  .footer-container .wp-block-list li {
    position: relative;
    padding-left: 24px;
    padding-bottom: 37px;
  }

  .footer-container .wp-block-list li:first-child::before {
    content: "";
    position: absolute;
    left: 0;
    top: 10%;
    width: 16px;
    height: 16px;
    background-image: url("../img/phone.svg");
    background-size: contain;
    background-repeat: no-repeat;
  }

  .footer-container .wp-block-list li:last-child::before {
    content: "";
    position: absolute;
    left: 0;
    top: 10%;
    width: 16px;
    height: 16px;
    background-image: url("../img/email.svg");
    background-size: contain;
    background-repeat: no-repeat;
  }

  .footer-container .menu {
    // padding-bottom: 37px;
    // background-color: var(--dark);
  }

  .footer-container .menu-footer-menu-container ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  .footer-container .menu-footer-menu-container ul li {
    flex: 0 0 48%;
    color: #fff;
    padding-bottom: 37px;
  }

    .footer-container .has-black-background-color {
        background-color: red;
    }

    .credit p {
    width: 100%;
    background-color: var(--dark);
    color: red;
    z-index: 200;
    }



     @media (max-width: $mobile) {
         .footer-container .sidebar {
            display: unset;             
            }
    }

}

