footer {
     background-color: var(--darkcyan);
     padding: 2rem;

    .footer-container {
        color: var(--white);
    }

    .footer-container .sidebar {
        display: flex;
        gap: 2rem;
        justify-content: space-between;
        align-items: center;
        color: var(--white);
    }

    .footer-container a {
        color: var(--white);
    }

    .footer-container .wp-block-list
    {
    background-color: #000000;
    }

    .footer-container .menu
    {
    background-color: var(--dark);
    }

    .footer-container .menu-footer-menu-container ul {
    display: flex;
    flex-wrap: wrap;              
    justify-content: space-between; 
    align-content: space-between;   
    margin: 0;
    padding: 0;              
    }

    .footer-container .menu-footer-menu-container ul li {
    flex: 0 0 48%;                
    color: #fff;
    }

     @media (max-width: $mobile) {
         .footer-container .menu-footer-menu-container ul, .footer-container .sidebar {
    display: unset;             
    }

    
    }


}