footer {
  background-color: var(--darkcyan);
  position: absolute;
  width: 100%;
  
  .container {
     padding: 2rem;
   
    .phone-btn {
      position: absolute;
      right: 7%;
      top: -55px;
      width: 110px;
      height: 110px;
      border-radius: 50%;
      background: #ffe94d;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 30;
    }
  
    .phone-btn svg {
      width: 45px;
      height: 45px;
      object-fit: contain;
    }
  
    .footer-container {
      color: var(--white);
      font-family: "Montserrat", sans-serif;
     
    }
  
   
  
    .footer-container .sidebar {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  
  justify-content: flex-start;
}

.footer-container .sidebar .widget {
  flex: 1 1 0;
}


.footer-container .sidebar .widget:first-child {
  flex: 2 1 0;    
}


.footer-container .sidebar .widget:nth-child(2) {
  flex: 0 0 240px;
}

  
    .footer-container a {
      color: var(--white);
    }
  
    .footer-container .wp-block-list {
      
      list-style: none;
      width: 70%;
    
    }
  
    .footer-container .wp-block-list li {
      position: relative;
      padding-left: 24px;
      padding-bottom: 37px;
       
    }
  
    .footer-container .wp-block-list li:first-child::before {
      content: "";
      position: absolute;
      left: 0;
      top: 10%;
      width: 16px;
      height: 16px;
      background-image: url("../img/phone.svg");
      background-size: contain;
      background-repeat: no-repeat;
    }
  
    .footer-container .wp-block-list li:last-child::before {
      content: "";
      position: absolute;
      left: 0;
      top: 10%;
      width: 16px;
      height: 16px;
      background-image: url("../img/email.svg");
      background-size: contain;
      background-repeat: no-repeat;
    }
  
    .footer-container .menu {
      // padding-bottom: 37px;
       // background-color: var(--dark);
       // width: 50%;
       
    }
  
    .footer-container .menu-footer-menu-container ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-content: space-between;
      align-items: center;
      margin: 0;
      padding: 0;
    
     
      
    }
  
    .footer-container .menu-footer-menu-container ul li {
      flex: 0 0 48%;
      color: #fff;
      padding-bottom: 37px;
   
    }
  
    .footer-container .has-black-background-color {
      // background-color: red;
       background-color: #ffe94d;
    }
  
   
  
    @media (max-width: $labtop) {
      .footer-container .sidebar {
        display: unset;
      }

      .wp-block-group {
        padding-top: 2rem;
      }

      .menu-footer-menu-container {
        padding-top: 3rem;
      }

      .footer-container .menu-footer-menu-container ul {
      width: auto;
      
    }
    }
  }
}

.creadit {
  background-color: var(--dark);
  color: var(--white);
  padding: 1rem 0rem;
  text-align: center;
  font-size: 1rem;
}
