@use "_var" as *;
@use "_button" as *;

.front-page {
  background: var(--white);
}
.front-page-container {
  width: $desktop;
  margin: 0 auto;
}

header {
  background: linear-gradient(90deg, #0066cc, #3fa3e0);
  clip-path: polygon(0 0, 100% 0%, 100% 90%, 0 80%);
  height: 850px;
  position: relative;
  z-index: 0;
  width: 100%;
}

/* Web Banner */
.web-banner {
  position: absolute;
  z-index: 10;
  width: 100%;
  top: 0;
  left: 0;
  margin-top: 5rem;

  .video {
    width: 800px;
  }

  .banner-btn {
    @include btn();
  }
}

.web-banner .front-page-container {
  display: flex;
  gap: 2rem;
  align-items: center;
  height: 65vh;
  margin-bottom: $section-margin-bottom;

  h1 {
    line-height: 1;
  }

  h1,
  p {
    color: var(--white);
    margin-bottom: 1rem;
  }

  .banner-underline {
    width: 100px;
    height: 4px;
    background: var(--yellow);
    border-radius: 4px;
    margin: 1.5rem 0;
  }
}

.featured-product {
  display: flex;
  gap: 2rem;
  align-items: center;
  margin: 0 auto;
  width: 1350px;

  .hr-underline {
    width: 80px;
    height: 4px;
    background: var(--margenta);
    border-radius: 4px;
    margin-bottom: 1.5rem;
  }

  .featured-products-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 320px;
    gap: 2rem;
    width: 100%;

    .featured-card {
      position: relative;
      border-radius: 20px;
      overflow: hidden;
      box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
      background: white;

      .featured-card-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
        position: relative;
      }

      .featured-card-name {
        @include innerBtn();
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        margin: 1rem;
      }
    }
    .featured-card:nth-of-type(1) {
      grid-row: span 1;
      height: 450px;
    }

    .featured-card:nth-of-type(2) {
      grid-row: span 2;
      height: 550px;
      margin-top: 15rem;
    }

    .featured-card:nth-of-type(3) {
      grid-row: span 2;
      margin-top: 8rem;
      height: 450px;
    }
  }
}

/* Our Story */
.our-story {
  margin-bottom: $section-margin-bottom;
  position: relative;

  .story-container {
    width: $desktop;
    margin: 0 auto;
    display: flex;
    gap: 2rem;
    overflow: hidden;
    align-items: center;
    justify-content: center;

    .our-story-content {
      display: flex;
      flex-direction: column;
      align-items: left;
      gap: 1rem;
      position: relative;
      z-index: 2;
      color: var(--white);
      width: 60%;

      .story-divider {
        width: 60px;
        height: 3px;
        background: #fff;
      }
      .story-btn {
        @include btn();
        max-width: 360px;
      }
    }

    .our-story-image img {
      width: 600px;
      height: 100%;
      border-radius: 20px;
      box-shadow: 0 8px 30px rgba(0, 0, 0, 0.25);
      object-fit: cover;
      position: relative;
      z-index: 2;
    }
  }

  .our-story-bg {
    position: absolute;
    inset: 0;
    background: linear-gradient(90deg, #0066cc, #3fa3e0);
    clip-path: polygon(0 10%, 100% 0, 100% 80%, 0 90%);
    transform: rotate(180deg);
    z-index: 0;
  }
}

/* Promo Section */
.promo-section {
  display: flex;
  gap: 3rem;
  align-items: center;
  position: relative;
  z-index: 2;
  margin: $section-margin-bottom;
  padding: 3rem 0;

  .promo-product {
    display: flex;
    gap: 2rem;
    justify-content: space-evenly;
  }

  .promo-image img {
    width: 1350px;
    border-radius: 20px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.18);
    object-fit: cover;
  }

  .promo-content {
    padding-right: 2rem;

    .promo-underline {
      width: 80px;
      height: 4px;
      background: #ff0088;
      border-radius: 4px;
      margin-bottom: 1.5rem;
    }

    .promo-btn {
      @include btn();
      background-color: var(--dark);
      color: var(--white);
      width: 360px;
      margin-top: 1rem;
    }
  }
}

/*  Global */
.btn {
  @include btn();
  margin: 1rem 0;
}

@media (max-width: 400px) {
  .web-banner {
    margin-top: 6rem;
  }
  .front-page-container,
  .story-container {
    padding: 1rem;
  }

  .web-banner .front-page-container {
    display: inline-block;
    .text {
      width: 380px;
    }
    .video {
      width: 360px;
      margin-right: 1rem;
      margin-top: 1rem;
    }
  }

  .featured-product .featured-card-grid {
    display: inline-block;
  }
}
