.front-page {
  background: var(--white);
  background: url(../img/front-page-bg.avif) center / cover no-repeat fixed;
}

.header {
  background: linear-gradient(90deg, #0066cc, #3fa3e0);
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0 80%);
  position: relative;
  z-index: 0;
  width: 100%;
  height: 850px;
  padding: 0 2rem;
  background: linear-gradient(
      90deg,
      rgb(0, 102, 204, 0.9),
      rgb(63, 163, 224, 0.9)
    ),
    url(../img/bg-banner.jpg) no-repeat center bottom / cover fixed;
  /* Web Banner */
  .web-banner {
    position: absolute;
    z-index: 10;
    width: 100%;
    top: 0;
    left: 0;
  }
}

.web-banner .container {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
  height: 75vh;
  margin-top: 2rem;
  padding: 0 2rem;

  .banner-btn {
    @include btn();
  }

  h1 {
    line-height: 1;
  }

  h1,
  p {
    color: var(--white);
    margin-bottom: 1rem;
  }
  .video {
    width: 850px;
      .wp-video-shortcode video, video.wp-video-shortcode {
            height: fit-content;
    }
  }

  .banner-underline {
    width: 100px;
    height: 4px;
    background: var(--yellow);
    border-radius: 4px;
    margin: 1.5rem 0;
  }

  @media (max-width: $labtop) {
    padding: 2rem;
    .video {
      width: 60%;
    }
  }

  @media (max-width: $ipad) {
    flex-direction: column;
    margin-top: 4rem;

    .banner-btn {
      margin-bottom: 1rem;
      width: 100%;
    }

    #home-btn {
      opacity: 0;
    }
    .text {
      margin-bottom: 0;
      padding-bottom: 0;
    }
    .video {
      width: 100%;
    }
  }
}

.featured-product {
  .container {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
    width: 85%;
    margin: 0 auto;
    .hr-underline {
      width: 80px;
      height: 4px;
      background: var(--margenta);
      border-radius: 4px;
      margin-bottom: 1.5rem;
    }

    .featured-products-grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-auto-rows: 320px;
      gap: 2rem;
      width: 100%;

      .featured-card {
        position: relative;
        border-radius: 20px;
        overflow: hidden;
        box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
        background: white;

        .featured-card-image {
          width: 100%;
          height: 100%;
          object-fit: cover;
          display: block;
          position: relative;
          img {
            object-fit: cover;
            height: 600px;
            @media (max-width: $ipad) {
              height: 100%;
              width: auto;
            }
          }
        }

        .featured-card-name {
          @include innerBtn();
          position: absolute;
          bottom: 0;
          margin-bottom: 1rem;
          width: 90%;
          text-wrap: wrap;

          @media (max-width: $ipad) {
            width: 90%;
            text-wrap: wrap;
          }

          @media (max-width: $mobile) {
            width: 90%;
          }
        }
      }
      .featured-card:nth-of-type(1) {
        grid-row: span 1;
        height: 450px;
      }

      .featured-card:nth-of-type(2) {
        grid-row: span 2;
        height: 550px;
        margin-top: 15rem;
      }

      .featured-card:nth-of-type(3) {
        grid-row: span 2;
        margin-top: 8rem;
        height: 450px;
      }
    }

    @media (max-width: $labtop) {
      display: flex;
      flex-direction: column-reverse;
      align-items: flex-start;
      width: unset;
      padding: 1rem;
      .featured-products-grid {
        width: 100%;
        max-width: 100%;
        gap: 1rem;

        .featured-card {
          width: fit-content;
          height: fit-content;
        }
      }
    }

    @media (max-width: $ipad) {
      margin-bottom: $section-margin-bottom;

      h2 {
        margin-bottom: 1rem;
      }
      p {
        width: fit-content;
      }
      .featured-products-grid {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: 100%;

        .featured-card {
          width: fit-content;
          height: fit-content;
        }

        .featured-card:nth-of-type(1),
        .featured-card:nth-of-type(2),
        .featured-card:nth-of-type(3) {
          margin: 0;
        }
      }
    }
  }
  @media (max-width: $ipad) {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    margin: 0 1rem;
    width: unset;
    margin-bottom: $section-margin-bottom;

    h2 {
      margin-bottom: 1rem;
    }
    p {
      width: fit-content;
    }

    .featured-products-grid {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      max-width: 100%;

      .featured-card {
        width: 100%;
        height: fit-content;
      }

      .featured-card:nth-of-type(1),
      .featured-card:nth-of-type(2),
      .featured-card:nth-of-type(3) {
        margin: 0;
      }
    }
  }
}

/* Our Story */
.our-story {
  margin-bottom: $section-margin-bottom;
  position: relative;

  .container {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    padding: 0 2rem;

    .our-story-content {
      display: flex;
      flex-direction: column;
      align-items: left;
      gap: 1rem;
      position: relative;
      z-index: 2;
      color: var(--white);

      .story-divider {
        width: 60px;
        height: 3px;
        background: #fff;
      }
      .story-btn {
        @include btn();
      }
    }

    .our-story-image img {
      width: 1000px;
      height: 550px;
      border-radius: 20px;
      box-shadow: 0 8px 30px rgba(0, 0, 0, 0.25);
      object-fit: cover;
      position: relative;
      z-index: 2;
      @media (max-width: $ipad) {
        width: 100%;
        height: 200px;
      }
    }
  }

  .our-story-bg {
    position: absolute;
    inset: 0;
    top: -40px;
    background: linear-gradient(90deg, #0066cc, #3fa3e0);
    clip-path: polygon(0 10%, 100% 0, 100% 80%, 0 90%);
    transform: rotate(180deg);

    background: linear-gradient(
        90deg,
        rgb(0, 102, 204, 0.9),
        rgb(63, 163, 224, 0.9)
      ),
      url(../img/bg-banner.jpg) no-repeat center bottom / cover fixed;
    padding: 0 2rem;
    height: 700px;
    z-index: 0;
    height: 540px;
  }
  @media (max-width: $labtop) {
    padding: 2rem;
  }

  @media (max-width: $ipad) {
    .container {
      flex-direction: column;
      padding: 1rem;

      .our-story-content {
        h2 {
          padding-top: 3rem;
        }
        p {
          width: fit-content;
        }
      }
    }

    .our-story-bg {
      height: auto;
      width: auto;
      top: -5rem;
      padding: 1rem;
      clip-path: polygon(0 10%, 100% 0, 100% 85%, 0 90%);
    }
  }
}

/* Promo Section */
.promo-section {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  align-items: center;
  position: relative;
  z-index: 2;
  padding: 6rem 0;
  @include container(1350px);

  .promo-product {
    display: flex;
    gap: 2rem;
    justify-content: space-evenly;
  }

  .promo-image img {
    width: 1350px;
    border-radius: 20px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.18);
    object-fit: cover;
  }

  .promo-content {
    padding-right: 2rem;

    .promo-underline {
      width: 80px;
      height: 4px;
      background: #ff0088;
      border-radius: 4px;
      margin-bottom: 1.5rem;
    }

    .promo-btn {
      @include btn();
      background-color: var(--dark);
      color: var(--white);
      width: 360px;
      margin-top: 1rem;
    }
  }
  @media (max-width: $labtop) {
    padding: 2rem;
    padding-bottom: 6rem;
  }

  @media (max-width: $ipad) {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    padding: 2rem;
    padding-bottom: 6rem;
  }
}
