.get-quote {
  .header {
    background: linear-gradient(90deg, #0066cc, #3fa3e0);
    clip-path: polygon(0 0, 100% 0%, 100% 90%, 0 80%);
    background: linear-gradient(
        90deg,
        rgb(0, 102, 204, 0.9),
        rgb(63, 163, 224, 0.9)
      ),
      url(../img/bg-banner.jpg) no-repeat center bottom / cover fixed;
    padding: 0 2rem;
    z-index: 0;
    position: absolute;
  }
  .quote-content {
    margin: 0 2rem;
    z-index: 1;
    position: relative;
    top: 110;

    .quote-card {
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
      border-radius: 1rem;
      margin: 8rem 0;

      .quote-description {
        background-color: var(--white);
        padding: 1rem;
        border-radius: 1rem 1rem 0 0;

        p {
          margin-bottom: 1rem;
        }
        .icon-svg {
          display: flex;
          align-content: center;
          gap: 1rem;
          margin: 1rem 0;
        }

        svg {
          background-color: #0066cc;
          padding: 0.2rem;
          border-radius: 50%;
          color: white;
          width: 40px;
          height: 40px;
          align-items: center;
        }

        @media (min-width: $desktop) {
          border-radius: 1rem 0 0 1rem;
        }
      }
      .quote-form {
        background-color: var(--paleblue);
        border-radius: 0 0 1rem 1rem;
        padding: 1rem;

        @media (min-width: $desktop) {
          border-radius: 0 1rem 1rem 0;
        }
      }
      @media (min-width: $desktop) {
        @include container(1350px);
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        margin: 10rem auto;
      }
    }
  }
}
