@use "_var" as *;

header {
  padding: 2rem;
  position: relative;
  .header-container {
    z-index: 5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 255, 255);
    padding: 0.5rem 2rem 0.5rem 2rem;
    border-radius: 20px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
    .site-logo img {
      width: 35px;
      height: auto;
    }
    nav {
      display: flex;
      align-items: center;
      gap: 3rem;
      .nav-bar {
        display: flex;
        gap: 3rem;
        #menu-item-83 {
          position: relative;
          padding-right: 2rem;
          background: url(../img/chevron-down.svg) no-repeat right;
          cursor: pointer;
        }

        .sub-menu {
          position: absolute;
          top: -800px;
          padding: 0;
          left: 0;
          background-color: var(--white);
          list-style-type: none;
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
          z-index: 3;
          opacity: 0;
          display: flex;
          flex-direction: column;
          width: 300px;
          transition: 0.5s opacity ease;
          li {
            padding: 1rem;
          }
          li:hover {
            background-color: var(--margenta);
            a {
              color: var(--white);
            }
          }
        }

        #menu-item-83:hover .sub-menu {
          top: 100%;
          opacity: 1;
        }

        li {
          a {
            color: var(--dark);
          }
          &:hover > a {
            color: var(--margenta2);
          }
        }
      }
      .search-btn {
        display: flex;
        gap: 1rem;
        align-items: center;
        position: relative;
        svg {
          width: 24px;
          height: 24px;
          cursor: pointer;
        }
        input {
          opacity: 0;
          visibility: hidden;
          transition: 0.5s opacity ease;
          bottom: -70px;
          right: -20px;
          position: absolute;
          border-radius: 15px;
          border: 1px solid gray;
          padding: 0.8rem 1rem;
          width: 500px;
          box-shadow: 2px 2px 5px 0 gray;
          z-index: 5;
        }

        .search-close {
          visibility: visible;
          opacity: 1;
        }
      }
    }

    .hamburger {
      display: none;
      cursor: pointer;
      svg {
        width: 24px;
      }
    }

    @media (max-width: $labtop) {
      nav {
        display: none;
      }

      .hamburger {
        display: block;
      }
    }
  }

  .hidden {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: var(--white);
    z-index: 5;
    top: 0;
    right: -100vw;
    display: flex;
    flex-direction: column;
    transition: 0.5s right ease;
    .close {
      display: flex;
      justify-content: space-between;
      padding: 3rem 2rem 0.5rem 2rem;
      svg {
        cursor: pointer;
        width: 30px;
      }
      img {
        width: 50px;
        height: 50px;
      }
    }
    .search {
      padding: 0.5rem 2rem;
      display: flex;
      align-items: center;
      gap: 1rem;
      font-weight: bold;
      input {
        padding: 0.3rem 2.3rem;
        width: 50%;
        border-radius: 15px;
        border: 1px solid gray;
        box-shadow: none;
        font-weight: 300;
        position: relative;
      }
      svg {
        position: absolute;
        width: 20px;
        left: 120px;
      }
    }
    .menu-top-bar-container {
      .nav-hidden > li {
        a {
          padding: 1rem 4rem;
          display: block;
          color: var(--dark);
          &:hover {
            color: var(--white);
            background-color: var(--margenta);
            a {
              color: var(--white);
            }
          }
        }
      }
      .nav-hidden {
        li:not(li:first-of-type) {
          a {
            padding: 1rem 4rem;
            display: block;
            color: var(--dark);
          }
          &:hover {
            background-color: var(--margenta);
            a {
              color: var(--white);
            }
          }
        }
      }
      .sub-menu {
        padding-left: 2rem;
        li {
          a {
            display: block;
            color: var(--dark);
          }
          &:hover {
            background-color: var(--margenta);
            a {
              color: var(--white);
            }
          }
        }
      }
    }
  }

  .unhidden {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: var(--white);
    z-index: 5;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    .close {
      display: flex;
      justify-content: space-between;
      padding: 3rem 2rem 0.5rem 2rem;
      img {
        width: 50px;
        height: 50px;
      }
    }
    .search {
      padding: 0.5rem 4rem;
      display: flex;
      align-items: center;
      gap: 1rem;
      font-weight: bold;
      input {
        padding: 0.3rem 2.3rem;
        width: 50%;
        border-radius: 15px;
        border: 1px solid gray;
        box-shadow: none;
        font-weight: 300;
        position: relative;
      }
      svg {
        position: absolute;
        width: 20px;
        left: 140px;
      }
    }
    .menu-top-bar-container {
      .nav-hidden > li {
        a {
          padding: 1rem 4rem;
          display: block;
          color: var(--dark);
          &:hover {
            color: var(--white);
            background-color: var(--margenta);
            a {
              color: var(--white);
            }
          }
        }
      }
      .nav-hidden {
        li:not(li:first-of-type) {
          a {
            padding: 1rem 4rem;
            display: block;
            color: var(--dark);
          }
          &:hover {
            background-color: var(--margenta);
            a {
              color: var(--white);
            }
          }
        }
      }
      .sub-menu {
        padding-left: 2rem;
        li {
          a {
            display: block;
            color: var(--dark);
          }
          &:hover {
            background-color: var(--margenta);
            a {
              color: var(--white);
            }
          }
        }
      }
    }
  }
}
