header {
    padding: 2rem;
    position: relative;
    .header-container {
        z-index: 5;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: rgb(255, 255, 255);
        padding: 0.5rem 2rem 0.5rem 2rem;
        border-radius: 20px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
        .site-logo img {
            width: 35px;
            height: auto;
        }
        nav {
            display: flex;
            gap: 3rem;
            .nav-bar {
                display: flex;
                gap: 3rem;
                #menu-item-83 {
                    position: relative;
                    padding-right: 2rem;
                    background: url(../img/chevron-down.svg) no-repeat right;
                    cursor: pointer;
                }
    
                .sub-menu {
                    position: absolute;
                    top: -800px;
                    padding: 0;
                    left: 0;
                    background-color: var(--white);
                    list-style-type: none;
                    // border: 1px solid rgb(187, 187, 187);
                    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
                    z-index: 3;
                    opacity: 0;
                    display: flex;
                    flex-direction: column;
                    width: 300px;
                    li {
                        padding: 1rem;
                    }
                    li:hover {
                        background-color: var(--margenta);
                        a {
                            color: var(--white);
                        }
                    }
                }
    
                #menu-item-83:hover .sub-menu {
                    top: 100%;
                    opacity: 1;
                }

                li {
                    a {
                        color: var(--dark);
                    }
                    &:hover > a {
                        color: var(--margenta2);
                    }
                }
            }
            .search-btn {
                width: 24px;
                cursor: pointer;
            }
        }

        .hamburger {
            display: none;
            cursor: pointer;
            svg {
                width: 24px;
            }
        }

        
        @media (max-width: $labtop) {
            nav {
                display: none;
            }
            
            .hamburger {
                display: block;
            }
        }
    }

    .hidden {
        display: none;
        // position: absolute;
        // height: 100vh;
        // width: 100vw;
        // background-color: var(--white);
        // z-index: 2;
        // top: 0;
        // left: 0;
        // display: flex;
        // flex-direction: column;
        // align-items: center;
        // .menu-top-bar-container {
        //     padding-top: 2rem;
        //     .sub-menu {
        //         li {
        //             a {
        //                 padding: 1rem;
        //                 display: block;
        //             }
        //             &:hover {
        //                 background-color: var(--margenta);
        //                 a {
        //                     color: var(--white);
        //                 }
        //             }
        //         }
        //     }
        // }
    }
    @media (max-width: $mobile) {
    }
}