.order-container, .order-container-second  {
  height: 700px;
  background: linear-gradient(90deg, rgb(0, 102, 204, 0.9), rgb(63, 163, 224, 0.9)), url(../img/bg-banner.jpg) no-repeat center bottom / cover fixed;
  color: var(--white);
  align-items: center;
}

.order-container {
    clip-path: polygon(0 0, 100% 0%, 100% 90%, 0 80%);
}

.order-container-second {
    clip-path: polygon(0 8%, 100% 0, 100% 92%, 0 100%);

}

.promo-underline {
    width: 104px;
    height: 4px;
    background: #ff0088;
    border-radius: 4px;
    margin: 1rem 0rem;
    }

.online-order-head {

  padding: 7rem 2rem 2rem 2rem;

  .header-inner-flex {
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 45px;
    padding: 3rem 0rem;
    h1 {
      flex: 1;
    }
    div {
       flex: 0 0 50%;
    }
  }

  @media (max-width: 750px) {
    .header-inner-flex {
    display: unset;
    }

    .order-container {
      height: 1200px;
    }

  }

  @media (max-width: 550px) {
    .header-inner-flex {
    display: unset;
    }

    .order-container {
      height: 50vh;
    }

  }

}

.online-order-content {
  padding: 5rem 5rem 4rem 5rem;

  .inner-flex {
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 45px;
    padding: 3rem 0rem;
  }

  .service-text {
    flex: 1;
  }

  .service-text p {
    padding: 1rem 0rem;
  }

  .service-media {
    flex: 0 0 50%;
  }

  .portal-image {
    width: 100%;
    height: auto;
    max-width: 625px;
    display: block;
    border-radius: 20px;
    object-fit: cover;
  }



}

@media (max-width: 850px) {
    
   .online-order-content {
    padding: 5rem 2rem 2rem 2rem;
    }


    .inner-flex {
       display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    .service-media {
      flex: 0 0 auto;
      width: 100%;
    }

    .portal-image {
      max-width: 100%;
    }

    .order-container-second {
      height: auto;
    }

}