.search-results-container {
    .container {
        padding: 7rem 2rem;
        h2 {
            span {
                color: var(--margenta);
            }
        }
        .search-result-item {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            padding: 2rem;
            box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
            border-radius: 20px;
            margin: 2rem 0;
            .desktop {
                display: none;
            }
            img {
                height: 150px;
                width: 100%;
                object-fit: cover;
            }
            .btn {
                @include btn-black();
                padding: 1rem .5rem;
            }
        }
        @media (min-width: $ipad) {
            .search-result-item {
                flex-direction: row;
                justify-content: space-between;
                .desktop {
                    display: block;
                }
                .mobile {
                    display: none;
                }
                a:not(.btn) {
                    flex-basis: 40%;
                    img {
                        height: 400px;
                        width: 100%;
                        object-fit: cover;
                    }
                }
                .content {
                    flex-basis: 60%;
                    padding-left: 2rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    gap: 1rem;
                    .btn {
                        width: 50%;
                    }
                }
            }
        }
    }
}