:root {
  --white: #ffffff;
  --dark: #1e1e1e;
  --margenta: #ff0aba;
  --margenta2: #ec008c;
  --cyan: #3987d1;
  --darkblue: #02091b;
  --yellow: #fff204;
  --darkcyan: #0b4d8c;
  --blue: #2e83d0;
  --brightblue: #368bdb;
  --paleblue: #a5b9cd;
}

$desktop: 1500px;
$mobile: 450px;
