:root {
  --white: #FFFFFF;
  --dark: #1E1E1E;
  --margenta: #FF0ABA;
  --margenta2: #EC008C;
  --cyan: #3987D1;
  --darkblue: #02091b;
  --yellow: #FFF204;
  --darkcyan: #0B4D8C;
  --blue: #2E83D0;
  --brightblue: #368BDB;
  --paleblue: #A5B9CD;
}

$desktop: 1500px;
$mobile: 450px;
$labtop: 1240px;