/* Temporary CSS files, might change it to tailwind or Sass later */
.site-logo img {
  width: 50px;
  height: auto;
}

.btn {
  background-color: rgb(241, 241, 241);
  padding: 0.5rem;
  border: 1px solid rgb(187, 187, 187);
  border-radius: 5px;
  color: black;
  text-decoration: none;
}
