:root {
  --white: #ffffff;
  --dark: #1e1e1e;
  --margenta: #ff0aba;
  --margenta2: #ec008c;
  --cyan: #3987d1;
  --darkblue: #02091b;
  --yellow: #fff204;
  --darkcyan: #0b4d8c;
  --blue: #2e83d0;
  --brightblue: #368bdb;
  --paleblue: #a5b9cd;
}

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

/*
  11. Ul reset
*/
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/*
  12. Anchor Tag
*/
a {
  text-decoration: none;
}

html {
  font-size: 16px;
}

body {
  font-family: "Poppins", sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: clamp(2.25rem, 1.1471rem + 3.9216vw, 6rem);
}

h2 {
  font-size: clamp(1.5rem, 1.0221rem + 1.6993vw, 3.125rem);
}

h3 {
  font-size: clamp(1.5rem, 1.0221rem + 1.6993vw, 3.125rem);
}

.btn {
  font-size: clamp(1.125rem, 0.8676rem + 0.915vw, 2rem);
}

p {
  font-size: clamp(1rem, 0.8529rem + 0.5229vw, 1.5rem);
}

nav {
  font-family: "Montserrat", sans-serif;
}

header nav li a {
  font-size: clamp(1rem, 0.9632rem + 0.1307vw, 1.125rem);
}

footer nav {
  font-size: 16px;
}

.sm-caption {
  font-size: 14px;
}

.container {
  max-width: 1500px;
  margin: 0 auto;
}

.featured-card-name {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  border: 0;
  border-radius: 30px;
  padding: 1rem;
  background-color: var(--dark);
  color: var(--white);
}
.featured-card-name:hover {
  background-color: var(--paleblue);
  color: #1e1e1e;
}

.btn {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  border: 0;
  border-radius: 15px;
  padding: 1rem;
  background-color: var(--yellow);
  color: var(--dark);
  transition: all 0.3s;
}
.btn:hover {
  background-color: var(--paleblue);
  color: var(--dark);
}

header {
  padding: 2rem;
  position: relative;
}
header .header-container {
  z-index: 5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255, 255, 255);
  padding: 0.5rem 2rem 0.5rem 2rem;
  border-radius: 20px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
}
header .header-container .site-logo img {
  width: 35px;
  height: auto;
}
header .header-container nav {
  display: flex;
  gap: 3rem;
}
header .header-container nav .nav-bar {
  display: flex;
  gap: 3rem;
}
header .header-container nav .nav-bar #menu-item-83 {
  position: relative;
  padding-right: 2rem;
  background: url(../img/chevron-down.svg) no-repeat right;
  cursor: pointer;
}
header .header-container nav .nav-bar .sub-menu {
  position: absolute;
  top: -800px;
  padding: 0;
  left: 0;
  background-color: var(--white);
  list-style-type: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
  z-index: 3;
  opacity: 0;
  display: flex;
  flex-direction: column;
  width: 300px;
}
header .header-container nav .nav-bar .sub-menu li {
  padding: 1rem;
}
header .header-container nav .nav-bar .sub-menu li:hover {
  background-color: var(--margenta);
}
header .header-container nav .nav-bar .sub-menu li:hover a {
  color: var(--white);
}
header .header-container nav .nav-bar #menu-item-83:hover .sub-menu {
  top: 100%;
  opacity: 1;
}
header .header-container nav .nav-bar li a {
  color: var(--dark);
}
header .header-container nav .nav-bar li:hover > a {
  color: var(--margenta2);
}
header .header-container nav .search-btn {
  width: 24px;
  cursor: pointer;
}
header .header-container .hamburger {
  display: none;
  cursor: pointer;
}
header .header-container .hamburger svg {
  width: 24px;
}
@media (max-width: 1240px) {
  header .header-container nav {
    display: none;
  }
  header .header-container .hamburger {
    display: block;
  }
}
header .hidden {
  display: none;
}
footer {
  background-color: var(--darkcyan);
  padding: 2rem;
  position: absolute;
  width: 100%;
}
footer .phone-btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  background: #ffe94d;
  margin-left: auto;
  margin-right: 4rem;
  bottom: 17rem;
  z-index: 10;
}
footer .phone-btn svg {
  width: 45px;
  height: 45px;
  -o-object-fit: contain;
     object-fit: contain;
}
footer .footer-container {
  color: var(--white);
  font-family: "Montserrat", sans-serif;
}
footer .footer-container .sidebar {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  color: var(--white);
}
footer .footer-container a {
  color: var(--white);
}
footer .footer-container .wp-block-list {
  list-style: none;
  padding-left: 0;
}
footer .footer-container .wp-block-list li {
  position: relative;
  padding-left: 24px;
  padding-bottom: 37px;
}
footer .footer-container .wp-block-list li:first-child::before {
  content: "";
  position: absolute;
  left: 0;
  top: 10%;
  width: 16px;
  height: 16px;
  background-image: url("../img/phone.svg");
  background-size: contain;
  background-repeat: no-repeat;
}
footer .footer-container .wp-block-list li:last-child::before {
  content: "";
  position: absolute;
  left: 0;
  top: 10%;
  width: 16px;
  height: 16px;
  background-image: url("../img/email.svg");
  background-size: contain;
  background-repeat: no-repeat;
}
footer .footer-container .menu-footer-menu-container ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}
footer .footer-container .menu-footer-menu-container ul li {
  flex: 0 0 48%;
  color: #fff;
  padding-bottom: 37px;
}
@media (max-width: 450px) {
  footer .footer-container .sidebar {
    display: unset;
  }
}/*# sourceMappingURL=main.css.map */