:root {
  --white: #ffffff;
  --dark: #1e1e1e;
  --margenta: #ff0aba;
  --margenta2: #ec008c;
  --cyan: #3987d1;
  --darkblue: #02091b;
  --yellow: #fff204;
  --darkcyan: #0b4d8c;
  --blue: #2e83d0;
  --brightblue: #368bdb;
  --paleblue: #a5b9cd;
}

/* 1. import a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/*
  11. Ul reset
*/
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/*
  12. Anchor Tag
*/
a {
  text-decoration: none;
}

/*
___________________________________________________________________________________________________________
*/
html {
  font-size: 16px;
}

body {
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: clamp(2.25rem, 1.7353rem + 1.8301vw, 4rem);
}

h2 {
  font-size: clamp(1.5rem, 1.0588rem + 1.5686vw, 3rem);
}

h3 {
  font-size: clamp(1.5rem, 1.3529rem + 0.5229vw, 2rem);
}

.btn {
  font-size: clamp(1.125rem, 0.8676rem + 0.915vw, 2rem);
}

p {
  font-size: clamp(1.125rem, 1.0882rem + 0.1307vw, 1.25rem);
}

nav {
  font-family: "Montserrat", sans-serif;
}

header nav li a {
  font-size: clamp(1rem, 0.9632rem + 0.1307vw, 1.125rem);
}

footer nav {
  font-size: 16px;
}

.sm-caption {
  font-size: 16px;
}

.container {
  max-width: 1500px;
  margin: 0 auto;
}

.btn {
  font-size: 1.2rem;
  font-weight: 600;
  width: 284px;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  border: 0;
  border-radius: 1rem;
  padding: 1rem 3rem;
  background-color: var(--yellow);
  color: var(--dark);
  transition: all 0.3s;
}
.btn:hover {
  background-color: var(--dark);
  color: var(--yellow);
}
@media (max-width: 750px) {
  .btn {
    width: 100%;
  }
}

.mg-line {
  height: 4px;
  width: 60px;
  background-color: var(--margenta);
  margin: 0.5rem 0 1.5rem 0;
}

main {
  overflow: hidden;
}

header {
  padding: 2rem;
  position: absolute;
  width: 100%;
  z-index: 30;
}
header .header-container {
  z-index: 5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white);
  padding: 0.5rem 2rem 0.5rem 2rem;
  border-radius: 20px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
}
@media (max-width: 450px) {
  header .header-container {
    background-color: unset;
    box-shadow: unset;
    padding: unset;
  }
}
header .header-container .site-logo img {
  width: 35px;
  height: auto;
}
header .header-container nav {
  display: flex;
  align-items: center;
  gap: 3rem;
}
header .header-container nav .nav-bar {
  display: flex;
  gap: 3rem;
}
header .header-container nav .nav-bar #menu-item-83 {
  position: relative;
  padding-right: 2rem;
  background: url(../img/chevron-down.svg) no-repeat right;
  cursor: pointer;
}
header .header-container nav .nav-bar .sub-menu {
  position: absolute;
  top: -800px;
  padding: 0;
  left: 0;
  background-color: var(--white);
  list-style-type: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
  z-index: 3;
  opacity: 0;
  display: flex;
  flex-direction: column;
  width: 300px;
  transition: 0.5s opacity ease;
}
header .header-container nav .nav-bar .sub-menu li {
  padding: 1rem;
}
header .header-container nav .nav-bar .sub-menu li:hover {
  background-color: var(--margenta);
}
header .header-container nav .nav-bar .sub-menu li:hover a {
  color: var(--white);
}
header .header-container nav .nav-bar #menu-item-83:hover .sub-menu {
  top: 100%;
  opacity: 1;
}
header .header-container nav .nav-bar li a {
  color: var(--dark);
}
header .header-container nav .nav-bar li:hover > a {
  color: var(--margenta2);
}
header .header-container nav .search-btn {
  display: flex;
  gap: 1rem;
  align-items: center;
  position: relative;
}
header .header-container nav .search-btn svg {
  width: 24px;
  height: 24px;
  cursor: pointer;
}
header .header-container nav .search-btn .search-input {
  position: absolute;
  right: 0;
  top: 50px;
  opacity: 0;
  transition: 0.5s opacity ease;
}
header .header-container nav .search-btn .search-input div {
  display: flex;
}
header .header-container nav .search-btn .search-input div input[type=text] {
  padding: 0.3rem 2.3rem;
  width: 300px;
  border-radius: 15px 0 0 15px;
  border: 1px solid gray;
  box-shadow: none;
  font-weight: 300;
  background: url(../img/magnify.svg) no-repeat 10px center;
  background-size: 20px;
  background-color: var(--white);
}
header .header-container nav .search-btn .search-input div input[type=submit] {
  font-size: clamp(1rem, 0.9632rem + 0.1307vw, 1.125rem);
  font-weight: 600;
  width: 100%;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  border: 0;
  border-radius: 1rem;
  padding: 1rem 2rem;
  background-color: var(--dark);
  color: var(--white);
  transition: all 0.3s;
  border-radius: 0 15px 15px 0;
  padding: 0;
  height: 40px;
}
header .header-container nav .search-btn .search-input div input[type=submit]:hover {
  background-color: var(--yellow);
  color: var(--dark);
}
header .header-container nav .search-btn .search-input.search-close {
  opacity: 1;
}
header .header-container .hamburger {
  display: none;
  cursor: pointer;
}
header .header-container .hamburger svg {
  width: 24px;
}
@media (max-width: 1240px) {
  header .header-container nav {
    display: none;
  }
  header .header-container .hamburger {
    display: block;
  }
}
header .hidden {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: var(--white);
  z-index: 20;
  top: 0;
  right: -100vw;
  display: flex;
  flex-direction: column;
  transition: 0.5s right ease;
  overflow: scroll;
}
@media (min-width: 1240px) {
  header .hidden {
    display: none;
  }
}
header .hidden .close {
  display: flex;
  justify-content: space-between;
  padding: 3rem 2rem 0.5rem 2rem;
}
header .hidden .close svg {
  cursor: pointer;
  width: 30px;
}
header .hidden .close img {
  width: 50px;
  height: 50px;
}
header .hidden .search {
  padding: 0.5rem 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: bold;
}
header .hidden .search input {
  padding: 0.3rem 2.3rem;
  width: 100%;
  border-radius: 15px;
  border: 1px solid gray;
  box-shadow: none;
  font-weight: 300;
  position: relative;
}
header .hidden .search svg {
  position: absolute;
  width: 20px;
  left: 120px;
}
header .hidden .menu-top-bar-container .nav-hidden > li a {
  padding: 1rem 4rem;
  display: block;
  color: var(--dark);
}
header .hidden .menu-top-bar-container .nav-hidden > li a:hover {
  color: var(--white);
  background-color: var(--margenta);
}
header .hidden .menu-top-bar-container .nav-hidden > li a:hover a {
  color: var(--white);
}
header .hidden .menu-top-bar-container .nav-hidden li:not(li:first-of-type) a {
  padding: 1rem 4rem;
  display: block;
  color: var(--dark);
}
header .hidden .menu-top-bar-container .nav-hidden li:not(li:first-of-type):hover {
  background-color: var(--margenta);
}
header .hidden .menu-top-bar-container .nav-hidden li:not(li:first-of-type):hover a {
  color: var(--white);
}
header .hidden .menu-top-bar-container .sub-menu {
  padding-left: 2rem;
}
header .hidden .menu-top-bar-container .sub-menu li a {
  display: block;
  color: var(--dark);
}
header .hidden .menu-top-bar-container .sub-menu li:hover {
  background-color: var(--margenta);
}
header .hidden .menu-top-bar-container .sub-menu li:hover a {
  color: var(--white);
}
header .unhidden {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: var(--white);
  z-index: 20;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}
@media (min-width: 1240px) {
  header .unhidden {
    display: none;
  }
}
header .unhidden .close {
  display: flex;
  justify-content: space-between;
  padding: 3rem 2rem 0.5rem 2rem;
}
header .unhidden .close img {
  width: 50px;
  height: 50px;
}
header .unhidden .search form {
  width: 100%;
}
header .unhidden .search form div {
  display: flex;
}
header .unhidden .search form div input[type=text] {
  background: url(../img/magnify.svg) no-repeat 10px center;
  background-size: 20px;
  border-radius: 10px 0 0 10px;
  flex-basis: 80%;
}
header .unhidden .search form div input[type=submit] {
  font-size: clamp(1rem, 0.9632rem + 0.1307vw, 1.125rem);
  font-weight: 600;
  width: 100%;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  border: 0;
  border-radius: 1rem;
  padding: 1rem 2rem;
  background-color: var(--dark);
  color: var(--white);
  transition: all 0.3s;
  width: 100%;
  border-radius: 0 10px 10px 0;
  flex-basis: 20%;
}
header .unhidden .search form div input[type=submit]:hover {
  background-color: var(--yellow);
  color: var(--dark);
}
header .unhidden .menu-top-bar-container .nav-hidden > li a {
  padding: 1rem 4rem;
  display: block;
  color: var(--dark);
}
header .unhidden .menu-top-bar-container .nav-hidden > li a:hover {
  color: var(--white);
  background-color: var(--margenta);
}
header .unhidden .menu-top-bar-container .nav-hidden > li a:hover a {
  color: var(--white);
}
header .unhidden .menu-top-bar-container .nav-hidden li:not(li:first-of-type) a {
  padding: 1rem 4rem;
  display: block;
  color: var(--dark);
}
header .unhidden .menu-top-bar-container .nav-hidden li:not(li:first-of-type):hover {
  background-color: var(--margenta);
}
header .unhidden .menu-top-bar-container .nav-hidden li:not(li:first-of-type):hover a {
  color: var(--white);
}
header .unhidden .menu-top-bar-container .sub-menu {
  padding-left: 2rem;
}
header .unhidden .menu-top-bar-container .sub-menu li a {
  display: block;
  color: var(--dark);
}
header .unhidden .menu-top-bar-container .sub-menu li:hover {
  background-color: var(--margenta);
}
header .unhidden .menu-top-bar-container .sub-menu li:hover a {
  color: var(--white);
}

footer {
  background-color: var(--darkcyan);
  position: relative;
  width: 100%;
}
footer .container {
  padding: 2rem;
}
footer .container .phone-btn {
  position: fixed;
  right: 70px;
  bottom: 70px;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  background: #ffe94d;
  z-index: 50;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 550px) {
  footer .container .phone-btn {
    width: 70px;
    height: 70px;
    right: 30px;
    bottom: 30px;
  }
}
footer .container .phone-btn svg {
  width: 45px;
  height: 45px;
  -o-object-fit: contain;
     object-fit: contain;
  display: block;
}
@media (max-width: 550px) {
  footer .container .phone-btn svg {
    width: 30px;
    height: 30px;
  }
}
footer .container .footer-container {
  color: var(--white);
  font-family: "Montserrat", sans-serif;
  position: relative;
}
footer .container .footer-container .sidebar {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  justify-content: flex-start;
}
footer .container .footer-container .sidebar .widget {
  flex: 1 1 0;
}
footer .container .footer-container .sidebar .widget:first-child {
  flex: 2 1 0;
}
footer .container .footer-container .sidebar .widget:nth-child(2) {
  flex: 0 0 240px;
}
footer .container .footer-container a {
  color: var(--white);
}
footer .container .footer-container .wp-block-list {
  list-style: none;
  width: 70%;
}
footer .container .footer-container .wp-block-list li {
  position: relative;
  padding-left: 24px;
  padding-bottom: 37px;
}
footer .container .footer-container .wp-block-list li:first-child::before {
  content: "";
  position: absolute;
  left: 0;
  top: 10%;
  width: 16px;
  height: 16px;
  background-image: url("../img/phone.svg");
  background-size: contain;
  background-repeat: no-repeat;
}
footer .container .footer-container .wp-block-list li:last-child::before {
  content: "";
  position: absolute;
  left: 0;
  top: 10%;
  width: 16px;
  height: 16px;
  background-image: url("../img/email.svg");
  background-size: contain;
  background-repeat: no-repeat;
}
footer .container .footer-container .menu-footer-menu-container ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}
footer .container .footer-container .menu-footer-menu-container ul li {
  flex: 0 0 48%;
  color: #fff;
  padding-bottom: 37px;
}
footer .container .footer-container .has-black-background-color {
  background-color: #ffe94d;
}
@media (max-width: 1240px) {
  footer .container .footer-container .sidebar {
    display: unset;
  }
  footer .container .wp-block-group {
    padding-top: 2rem;
  }
  footer .container .menu-footer-menu-container {
    padding-top: 3rem;
  }
  footer .container .footer-container .menu-footer-menu-container ul {
    width: auto;
  }
}

.creadit {
  background-color: var(--dark);
  color: var(--white);
  padding: 1rem 0rem;
  text-align: center;
  font-size: 1rem;
}

.front-page {
  background: var(--white);
  background: url(../img/front-page-bg.avif) center/cover no-repeat fixed;
}

.header {
  background: linear-gradient(90deg, #0066cc, #3fa3e0);
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0 80%);
  position: relative;
  z-index: 0;
  width: 100%;
  height: 850px;
  padding: 0 2rem;
  background: linear-gradient(90deg, rgba(0, 102, 204, 0.9), rgba(63, 163, 224, 0.9)), url(../img/bg-banner.jpg) no-repeat center bottom/cover fixed;
  /* Web Banner */
}
.header .web-banner {
  position: absolute;
  z-index: 10;
  width: 100%;
  top: 0;
  left: 0;
}

.web-banner .container {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
  height: 75vh;
  margin-top: 2rem;
  padding: 0 2rem;
}
.web-banner .container .banner-btn {
  font-size: 1.2rem;
  font-weight: 600;
  width: 284px;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  border: 0;
  border-radius: 1rem;
  padding: 1rem 3rem;
  background-color: var(--yellow);
  color: var(--dark);
  transition: all 0.3s;
}
.web-banner .container .banner-btn:hover {
  background-color: var(--dark);
  color: var(--yellow);
}
@media (max-width: 750px) {
  .web-banner .container .banner-btn {
    width: 100%;
  }
}
.web-banner .container h1 {
  line-height: 1;
}
.web-banner .container h1,
.web-banner .container p {
  color: var(--white);
  margin-bottom: 1rem;
}
.web-banner .container .video {
  width: 850px;
}
.web-banner .container .video .wp-video-shortcode video, .web-banner .container .video video.wp-video-shortcode {
  height: -moz-fit-content;
  height: fit-content;
}
.web-banner .container .banner-underline {
  width: 100px;
  height: 4px;
  background: var(--yellow);
  border-radius: 4px;
  margin: 1.5rem 0;
}
@media (max-width: 1240px) {
  .web-banner .container {
    padding: 2rem;
  }
  .web-banner .container .video {
    width: 60%;
  }
}
@media (max-width: 750px) {
  .web-banner .container {
    flex-direction: column;
    margin-top: 4rem;
  }
  .web-banner .container .banner-btn {
    margin-bottom: 1rem;
    width: 100%;
  }
  .web-banner .container #home-btn {
    opacity: 0;
  }
  .web-banner .container .text {
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .web-banner .container .video {
    width: 100%;
  }
}

.featured-product .container {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
  width: 85%;
  margin: 0 auto;
}
.featured-product .container .hr-underline {
  width: 80px;
  height: 4px;
  background: var(--margenta);
  border-radius: 4px;
  margin-bottom: 1.5rem;
}
.featured-product .container .featured-products-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 320px;
  gap: 2rem;
  width: 100%;
}
.featured-product .container .featured-products-grid .featured-card {
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
  background: white;
}
.featured-product .container .featured-products-grid .featured-card .featured-card-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  position: relative;
}
.featured-product .container .featured-products-grid .featured-card .featured-card-image img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 600px;
}
@media (max-width: 750px) {
  .featured-product .container .featured-products-grid .featured-card .featured-card-image img {
    height: 100%;
    width: auto;
  }
}
.featured-product .container .featured-products-grid .featured-card .featured-card-name {
  position: absolute;
  text-align: center;
  width: 330px;
  bottom: 12px;
  left: 50%;
  transform: translateX(-50%);
  background: var(--dark);
  color: var(--white);
  padding: 8px 18px;
  border-radius: 999px;
  white-space: nowrap;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.3s;
  position: absolute;
  bottom: 0;
  margin-bottom: 1rem;
}
.featured-product .container .featured-products-grid .featured-card .featured-card-name:hover {
  background-color: var(--white);
  color: var(--dark);
}
.featured-product .container .featured-products-grid .featured-card:nth-of-type(1) {
  grid-row: span 1;
  height: 450px;
}
.featured-product .container .featured-products-grid .featured-card:nth-of-type(2) {
  grid-row: span 2;
  height: 550px;
  margin-top: 15rem;
}
.featured-product .container .featured-products-grid .featured-card:nth-of-type(3) {
  grid-row: span 2;
  margin-top: 8rem;
  height: 450px;
}
@media (max-width: 1240px) {
  .featured-product .container {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    width: unset;
    padding: 1rem;
  }
  .featured-product .container .featured-products-grid {
    width: 100%;
    max-width: 100%;
    gap: 1rem;
  }
  .featured-product .container .featured-products-grid .featured-card {
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}
@media (max-width: 750px) {
  .featured-product .container {
    margin-bottom: 6rem;
  }
  .featured-product .container h2 {
    margin-bottom: 1rem;
  }
  .featured-product .container p {
    width: -moz-fit-content;
    width: fit-content;
  }
  .featured-product .container .featured-products-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 100%;
  }
  .featured-product .container .featured-products-grid .featured-card {
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .featured-product .container .featured-products-grid .featured-card:nth-of-type(1),
  .featured-product .container .featured-products-grid .featured-card:nth-of-type(2),
  .featured-product .container .featured-products-grid .featured-card:nth-of-type(3) {
    margin: 0;
  }
}
@media (max-width: 750px) {
  .featured-product {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    margin: 0 2rem;
    width: unset;
    margin-bottom: 6rem;
  }
  .featured-product h2 {
    margin-bottom: 1rem;
  }
  .featured-product p {
    width: -moz-fit-content;
    width: fit-content;
  }
  .featured-product .featured-products-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 100%;
  }
  .featured-product .featured-products-grid .featured-card {
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
  }
  .featured-product .featured-products-grid .featured-card:nth-of-type(1),
  .featured-product .featured-products-grid .featured-card:nth-of-type(2),
  .featured-product .featured-products-grid .featured-card:nth-of-type(3) {
    margin: 0;
  }
}

/* Our Story */
.our-story {
  margin-bottom: 6rem;
  position: relative;
}
.our-story .container {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  padding: 0 2rem;
}
.our-story .container .our-story-content {
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 1rem;
  position: relative;
  z-index: 2;
  color: var(--white);
}
.our-story .container .our-story-content .story-divider {
  width: 60px;
  height: 3px;
  background: #fff;
}
.our-story .container .our-story-content .story-btn {
  font-size: 1.2rem;
  font-weight: 600;
  width: 284px;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  border: 0;
  border-radius: 1rem;
  padding: 1rem 3rem;
  background-color: var(--yellow);
  color: var(--dark);
  transition: all 0.3s;
}
.our-story .container .our-story-content .story-btn:hover {
  background-color: var(--dark);
  color: var(--yellow);
}
@media (max-width: 750px) {
  .our-story .container .our-story-content .story-btn {
    width: 100%;
  }
}
.our-story .container .our-story-image img {
  width: 1000px;
  height: 550px;
  border-radius: 20px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.25);
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  z-index: 2;
}
@media (max-width: 750px) {
  .our-story .container .our-story-image img {
    width: 100%;
    height: 200px;
  }
}
.our-story .our-story-bg {
  position: absolute;
  inset: 0;
  top: -40px;
  background: linear-gradient(90deg, #0066cc, #3fa3e0);
  clip-path: polygon(0 10%, 100% 0, 100% 80%, 0 90%);
  transform: rotate(180deg);
  background: linear-gradient(90deg, rgba(0, 102, 204, 0.9), rgba(63, 163, 224, 0.9)), url(../img/bg-banner.jpg) no-repeat center bottom/cover fixed;
  padding: 0 2rem;
  height: 700px;
  z-index: 0;
  height: 540px;
}
@media (max-width: 1240px) {
  .our-story {
    padding: 2rem;
  }
}
@media (max-width: 750px) {
  .our-story .container {
    flex-direction: column;
    padding: 1rem;
  }
  .our-story .container .our-story-content h2 {
    padding-top: 3rem;
  }
  .our-story .container .our-story-content p {
    width: -moz-fit-content;
    width: fit-content;
  }
  .our-story .our-story-bg {
    height: auto;
    width: auto;
    top: -5rem;
    padding: 1rem;
    clip-path: polygon(0 10%, 100% 0, 100% 85%, 0 90%);
  }
}

/* Promo Section */
.promo-section {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  align-items: center;
  position: relative;
  z-index: 2;
  padding: 6rem 0;
  width: 100%;
  max-width: 1350px;
  margin: 0 auto;
}
.promo-section .promo-product {
  display: flex;
  gap: 2rem;
  justify-content: space-evenly;
}
.promo-section .promo-image img {
  width: 1350px;
  border-radius: 20px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.18);
  -o-object-fit: cover;
     object-fit: cover;
}
.promo-section .promo-content {
  padding-right: 2rem;
}
.promo-section .promo-content .promo-underline {
  width: 80px;
  height: 4px;
  background: #ff0088;
  border-radius: 4px;
  margin-bottom: 1.5rem;
}
.promo-section .promo-content .promo-btn {
  font-size: 1.2rem;
  font-weight: 600;
  width: 284px;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  border: 0;
  border-radius: 1rem;
  padding: 1rem 3rem;
  background-color: var(--yellow);
  color: var(--dark);
  transition: all 0.3s;
  background-color: var(--dark);
  color: var(--white);
  width: 360px;
  margin-top: 1rem;
}
.promo-section .promo-content .promo-btn:hover {
  background-color: var(--dark);
  color: var(--yellow);
}
@media (max-width: 750px) {
  .promo-section .promo-content .promo-btn {
    width: 100%;
  }
}
@media (max-width: 1240px) {
  .promo-section {
    padding: 2rem;
    padding-bottom: 6rem;
  }
}
@media (max-width: 750px) {
  .promo-section {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    padding: 2rem;
    padding-bottom: 6rem;
  }
}

.order-container, .order-container-second {
  height: 700px;
  background: linear-gradient(90deg, rgba(0, 102, 204, 0.9), rgba(63, 163, 224, 0.9)), url(../img/bg-banner.jpg) no-repeat center bottom/cover fixed;
  color: var(--white);
  align-items: center;
  position: relative;
  z-index: 3;
}

.order-container {
  clip-path: polygon(0 0, 100% 0%, 100% 90%, 0 80%);
}

.order-container-second {
  clip-path: polygon(0 8%, 100% 0, 100% 92%, 0 100%);
}

.promo-underline {
  width: 104px;
  height: 4px;
  background: #ff0088;
  border-radius: 4px;
  margin: 1rem 0rem;
}

.online-order-head {
  padding: 7rem 2rem 2rem 2rem;
}
.online-order-head .header-inner-flex {
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 45px;
  padding: 3rem 0rem;
}
.online-order-head .header-inner-flex h1 {
  flex: 1;
}
.online-order-head .header-inner-flex div {
  flex: 0 0 50%;
}
@media (max-width: 750px) {
  .online-order-head .header-inner-flex {
    display: unset;
  }
  .online-order-head .order-container {
    height: 1200px;
  }
}
@media (max-width: 550px) {
  .online-order-head .header-inner-flex {
    display: unset;
  }
  .online-order-head .order-container {
    height: 50vh;
  }
}

.online-order-content {
  padding: 5rem 5rem 4rem 5rem;
  position: relative;
}
.online-order-content img.order-bgone {
  position: absolute;
  bottom: -220px;
  right: -430px;
  z-index: 1;
  rotate: 80deg;
  width: 80%;
  opacity: 0.4;
}
@media (max-width: 750px) {
  .online-order-content img.order-bgone {
    top: -52%;
    right: 20%;
    z-index: 1;
    rotate: 59deg;
    width: 100%;
    opacity: 0.4;
    transform: scale(4);
  }
}
.online-order-content img.order-bgtwo {
  position: absolute;
  bottom: -150px;
  left: -730px;
  z-index: 1;
  rotate: 80deg;
  width: 80%;
  opacity: 0.4;
}
@media (max-width: 750px) {
  .online-order-content img.order-bgtwo {
    top: 0px;
    left: -240px;
    z-index: 1;
    width: 100%;
    opacity: 0.4;
    transform: scale(2);
  }
}
.online-order-content .inner-flex {
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 45px;
  padding: 3rem 0rem;
  position: relative;
  z-index: 5;
}
.online-order-content .service-text {
  flex: 1;
}
.online-order-content .service-text p {
  padding: 1rem 0rem;
}
.online-order-content .service-media {
  flex: 0 0 50%;
  z-index: 10;
}
.online-order-content .portal-image {
  width: 100%;
  height: auto;
  max-width: 625px;
  display: block;
  border-radius: 20px;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 5;
}

@media (max-width: 850px) {
  .online-order-content {
    padding: 5rem 2rem 2rem 2rem;
  }
  .inner-flex {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .service-media {
    flex: 0 0 auto;
    width: 100%;
  }
  .portal-image {
    max-width: 100%;
  }
  .order-container-second {
    height: auto;
  }
}
.aboutus-underline {
  width: 104px;
  height: 4px;
  background: #ff0088;
  border-radius: 4px;
  margin: 1rem 0rem;
}

.about-container {
  background: linear-gradient(90deg, #0066cc, #3fa3e0);
  clip-path: polygon(0 0, 100% 0%, 100% 90%, 0% 100%);
}
.about-container .about-tagline {
  color: var(--yellow);
  font-size: 3rem;
  font-style: italic;
  padding-left: 2rem;
}
.about-container .about-banner {
  background: linear-gradient(90deg, rgba(0, 102, 204, 0.9), rgba(63, 163, 224, 0.9)), url(../img/bg-banner.jpg) no-repeat center bottom/cover fixed;
  padding: 0 2rem;
  height: 1200px;
  color: var(--white);
}
.about-container .about-text {
  grid-area: text;
  -moz-column-count: 2;
       column-count: 2;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  margin-top: 2rem;
}
.about-container .about-img img {
  border-radius: 1rem;
  width: 100%;
  height: 50vh;
  -o-object-fit: cover;
     object-fit: cover;
}
.about-container .about-text ul {
  display: flex;
  gap: 5px;
}
.about-container .about-text li {
  font-size: 1.5rem;
}
.about-container .container {
  padding: 8rem 0rem;
}
.about-container .container p {
  margin: 1rem 0;
}
.about-container .container .btn {
  width: -moz-fit-content;
  width: fit-content;
}
@media (min-width: 750px) {
  .about-container .about-banner {
    height: 1200px;
  }
  .about-container .about-banner .container .about-content {
    grid-area: 1/1/2/9;
  }
}
@media (max-width: 550px) {
  .about-container .about-banner {
    height: 2400px;
    clip-path: polygon(0 0, 100% 0%, 100% 90%, 0% 100%);
  }
  .about-container .about-banner .container .about-text {
    grid-area: text;
    -moz-column-count: 1;
         column-count: 1;
    -moz-column-gap: 2rem;
         column-gap: 2rem;
  }
  .about-container .about-text ul {
    display: unset;
    gap: 5px;
  }
}

.owner-section {
  padding: 5rem 0;
  position: relative;
  padding-bottom: 10rem;
}
.owner-section img.about-bg {
  position: absolute;
  bottom: -420px;
  left: -600px;
  z-index: 1;
  rotate: 30deg;
  width: 80%;
  opacity: 0.4;
  transform: scale(1.5);
}
@media (max-width: 750px) {
  .owner-section img.about-bg {
    bottom: 400px;
    left: -160px;
    z-index: 1;
    rotate: 40deg;
    width: 100%;
    opacity: 0.4;
  }
}
.owner-section .owner-inner {
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 1.5rem;
  display: grid;
  grid-template-columns: minmax(0, 2fr) minmax(0, 1.3fr);
  gap: 3rem;
  align-items: center;
  position: relative;
  z-index: 5;
}
.owner-section .owner-text .owner-title {
  color: #2b6fdd;
}
.owner-section .owner-text .owner-description {
  margin: 2rem 0rem;
}
.owner-section .owner-photo figure {
  position: relative;
  margin: 0;
  z-index: 5;
}
.owner-section .owner-photo img {
  height: 50vh;
  display: block;
  border-radius: 26px;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 5;
  margin-top: 50px;
}
.owner-section .owner-photo .owner-name {
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
  padding: 0.9rem 3rem;
  border-radius: 1rem;
  background-color: #000;
  color: #fff;
  font-weight: 600;
  font-size: 1rem;
  text-align: center;
}
.owner-section .owner-photo .btn {
  position: absolute;
  z-index: 5;
}
@media (max-width: 750px) {
  .owner-section .owner-inner {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
  .owner-section .owner-photo {
    width: 100%;
    margin: 0 auto;
  }
  .owner-section .btn {
    width: 90%;
  }
}
@media (max-width: 450px) {
  .owner-section {
    padding: 3.5rem 0;
  }
  .owner-section .owner-text .owner-title {
    font-size: 2rem;
  }
  .owner-section .owner-photo figcaption {
    bottom: 14px;
    padding: 0.7rem 2rem;
    font-size: 0.95rem;
  }
}

.overlay {
  z-index: 2;
  position: relative;
  background: linear-gradient(90deg, #0066cc, #3fa3e0);
  clip-path: polygon(0 0, 100% 0%, 100% 90%, 0% 100%);
}
.overlay .product-archive-banner {
  background: linear-gradient(90deg, rgba(0, 102, 204, 0.9), rgba(63, 163, 224, 0.9)), url(../img/bg-banner.jpg) no-repeat center bottom/cover fixed;
  padding: 0 2rem;
  height: 700px;
  color: var(--white);
}
.overlay .product-archive-banner .container {
  padding-top: 8rem;
}
.overlay .product-archive-banner .container p {
  margin: 1rem 0;
}
.overlay .product-archive-banner .container .btn {
  width: -moz-fit-content;
  width: fit-content;
}
.overlay .product-archive-banner .container #product-btn {
  opacity: 0;
}
@media (min-width: 750px) {
  .overlay {
    clip-path: polygon(0 0, 100% 0%, 100% 70%, 0% 100%);
  }
  .overlay .product-archive-banner {
    height: 55vh;
  }
  .overlay .product-archive-banner .container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
  .overlay .product-archive-banner .container .content {
    grid-area: 1/1/2/9;
  }
  .overlay .product-archive-banner .container .btn {
    grid-area: 1/10/2/13;
    width: 100%;
    padding: 0.8rem 1rem;
    height: -moz-fit-content;
    height: fit-content;
    border-radius: 10px;
    margin-top: 6rem;
  }
}

.featured-catalog {
  position: relative;
}
.featured-catalog img.bg-image1 {
  position: absolute;
  top: -180px;
  left: -200px;
  rotate: -60deg;
  z-index: 1;
  height: 700px;
  opacity: 0.5;
}
@media (max-width: 750px) {
  .featured-catalog img.bg-image1 {
    left: -150px;
    top: -100px;
    width: 900px;
    height: unset;
  }
}
.featured-catalog img.bg-image2 {
  position: absolute;
  bottom: -400px;
  right: -300px;
  z-index: 1;
  rotate: -40deg;
  width: 80%;
  opacity: 0.4;
}
@media (max-width: 750px) {
  .featured-catalog img.bg-image2 {
    bottom: -200px;
    left: 0;
    opacity: 1;
    right: unset;
    width: 100%;
    rotate: -20deg;
  }
}
.featured-catalog .section-featured {
  z-index: 2;
  position: relative;
  padding: 2rem 2rem 8rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.featured-catalog .section-featured .desktop {
  display: none;
}
.featured-catalog .section-featured h2 {
  color: var(--blue);
}
.featured-catalog .section-featured img {
  border-radius: 20px;
  width: 100%;
  height: 25vh;
  -o-object-fit: cover;
     object-fit: cover;
}
.featured-catalog .section-featured p {
  margin: 2rem 0;
}
.featured-catalog .section-featured .btn {
  font-size: clamp(1rem, 0.9632rem + 0.1307vw, 1.125rem);
  font-weight: 600;
  width: 100%;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  border: 0;
  border-radius: 1rem;
  padding: 1rem 2rem;
  background-color: var(--dark);
  color: var(--white);
  transition: all 0.3s;
}
.featured-catalog .section-featured .btn:hover {
  background-color: var(--yellow);
  color: var(--dark);
}
@media (min-width: 750px) {
  .featured-catalog .section-featured {
    margin-top: 4rem;
    gap: 6rem;
  }
  .featured-catalog .section-featured img {
    height: 43vh;
  }
  .featured-catalog .section-featured p {
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
  .featured-catalog .section-featured .post-112 .desktop .img-content {
    grid-area: 1/6/2/13;
  }
  .featured-catalog .section-featured .post-112 .desktop .text-content {
    grid-area: 1/1/2/6;
  }
  .featured-catalog .section-featured .desktop {
    display: block;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;
    gap: 2rem;
  }
  .featured-catalog .section-featured .desktop .img-content {
    grid-area: 1/1/2/8;
  }
  .featured-catalog .section-featured .desktop .text-content {
    grid-area: 1/8/2/13;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .featured-catalog .section-featured .desktop .text-content .mg-line {
    margin-bottom: 0;
  }
  .featured-catalog .section-featured .mobile {
    display: none;
  }
}

.other-products {
  z-index: 2;
  position: relative;
  background: linear-gradient(90deg, #2a71ab, #2872b4);
  clip-path: polygon(0 5%, 100% 0%, 100% 100%, 0% 100%);
  height: 2000px;
  padding: 2rem;
  color: var(--white);
  margin-bottom: -25px;
}
.other-products .content {
  padding-top: 7rem;
}
.other-products .content .section-blog {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.other-products .content .section-blog article {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
}
.other-products .content .section-blog article img {
  height: 400px;
  width: auto;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
}
.other-products .content .section-blog article .btn {
  font-size: clamp(1rem, 0.9632rem + 0.1307vw, 1.125rem);
  font-weight: 600;
  width: 100%;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  border: 0;
  border-radius: 1rem;
  padding: 1rem 2rem;
  background-color: var(--dark);
  color: var(--white);
  transition: all 0.3s;
  position: absolute;
  z-index: 2;
  bottom: 15px;
  width: calc(100% - 20px);
  left: 50%;
  transform: translateX(-50%);
}
.other-products .content .section-blog article .btn:hover {
  background-color: var(--yellow);
  color: var(--dark);
}
@media (min-width: 750px) {
  .other-products {
    height: -moz-fit-content;
    height: fit-content;
    clip-path: polygon(0 15%, 100% 0%, 100% 100%, 0% 100%);
  }
  .other-products .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 8rem;
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
  }
  .other-products .content .mg-line {
    margin-bottom: 4rem;
  }
  .other-products .content .section-blog {
    flex-flow: row wrap;
    margin: 0 auto;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 7rem;
  }
  .other-products .content .section-blog article {
    width: 300px;
  }
}

.form {
  background: url(../img/white-bg-01.avif) bottom right/cover no-repeat fixed;
  padding-bottom: 6rem;
}
.form .header {
  background: linear-gradient(90deg, #0066cc, #3fa3e0);
  clip-path: polygon(0 0, 100% 0%, 100% 90%, 0 80%);
  background: linear-gradient(90deg, rgba(0, 102, 204, 0.9), rgba(63, 163, 224, 0.9)), url(../img/bg-banner.jpg) no-repeat center bottom/cover fixed;
  padding: 0 2rem;
  z-index: 0;
  position: absolute;
}
@media (min-width: 750px) {
  .form .header {
    height: 600px;
  }
}
.form .form-content,
.form .contact-content {
  margin: 0 2rem;
  z-index: 1;
  position: relative;
  top: 110;
}
.form .form-content .form-card,
.form .contact-content .form-card {
  box-shadow: 0 4px 10px rgba(105, 24, 24, 0.25);
  border-radius: 1rem;
  margin: 8rem 0;
}
.form .form-content .form-card .form-description,
.form .contact-content .form-card .form-description {
  background-color: var(--white);
  padding: 1rem;
  border-radius: 1rem 1rem 0 0;
}
.form .form-content .form-card .form-description h1,
.form .contact-content .form-card .form-description h1 {
  color: var(--margenta);
}
.form .form-content .form-card .form-description p,
.form .contact-content .form-card .form-description p {
  margin-bottom: 1rem;
}
.form .form-content .form-card .form-description .icon-svg,
.form .contact-content .form-card .form-description .icon-svg {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-top: 0.5rem;
  margin: 1rem 0;
}
.form .form-content .form-card .form-description .icon-svg p,
.form .contact-content .form-card .form-description .icon-svg p {
  margin: 0;
}
.form .form-content .form-card .form-description img,
.form .contact-content .form-card .form-description img {
  border-radius: 1rem;
  max-width: 100%;
  height: auto;
  display: block;
}
.form .form-content .form-card .form-description .icon-container,
.form .contact-content .form-card .form-description .icon-container {
  background-color: var(--darkcyan);
  border-radius: 50%;
  padding: 0.5rem;
  align-items: center;
}
.form .form-content .form-card .form-description .icon-container svg,
.form .contact-content .form-card .form-description .icon-container svg {
  fill: white;
  width: 30px;
  height: 30px;
}
@media (min-width: 750px) {
  .form .form-content .form-card .form-description,
  .form .contact-content .form-card .form-description {
    border-radius: 1rem 0 0 1rem;
    align-content: center;
    padding: 0 2rem;
  }
}
.form .form-content .form-card .form-control,
.form .contact-content .form-card .form-control {
  background-color: var(--paleblue);
  border-radius: 0 0 1rem 1rem;
  padding: 1rem;
}
@media (min-width: 750px) {
  .form .form-content .form-card .form-control,
  .form .contact-content .form-card .form-control {
    border-radius: 0 1rem 1rem 0;
  }
}
@media (min-width: 750px) {
  .form .form-content .form-card,
  .form .contact-content .form-card {
    width: 100%;
    max-width: 1350px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    max-width: 1000px;
    margin: 10rem auto;
  }
}
.form .contact-content {
  padding: 0.1rem;
}
.form .contact-content .form-card .form-description {
  padding: 2rem 2rem;
}
@media (min-width: 750px) {
  .form {
    background-size: 65%;
  }
}

.single-banner {
  overflow: hidden;
}
.single-banner img.bg-image1 {
  position: absolute;
  top: 0;
  left: -300px;
  rotate: -80deg;
  z-index: 1;
  height: 1000px;
  opacity: 0.5;
}
@media (max-width: 750px) {
  .single-banner img.bg-image1 {
    left: -100px;
    top: -30px;
    height: 500px;
    rotate: -30deg;
  }
}
.single-banner .container {
  position: relative;
  z-index: 2;
  padding: 7rem 2rem 5rem 2rem;
}
.single-banner .container .thumb {
  border-radius: 20px;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}
.single-banner .container h1 {
  margin: 1.5rem 0;
}
.single-banner .container .featured {
  padding: 2rem;
  margin: 2rem 0;
  border-left: solid 6px var(--margenta2);
  box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.3);
}
.single-banner .container .featured ul {
  list-style: disc;
  font-weight: 200;
  font-style: italic;
  line-height: 1.8;
  padding-left: 1.5rem;
}
.single-banner .container .btn {
  width: 100%;
}
.single-banner .container #single-btn {
  opacity: 0;
}
@media (min-width: 750px) {
  .single-banner .container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 4rem;
    padding-top: 10rem;
  }
  .single-banner .container h1 {
    font-size: clamp(1.5rem, 1.0588rem + 1.5686vw, 3rem);
  }
  .single-banner .container .image {
    grid-area: 1/2/3/7;
  }
  .single-banner .container .image img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .single-banner .container .content {
    grid-area: 1/7/3/12;
  }
  .single-banner .container .btn {
    width: 50%;
  }
}
@media (max-width: 1240px) {
  .single-banner .container .btn {
    width: 100%;
  }
}

.product-description {
  position: relative;
  z-index: 3;
  clip-path: polygon(0 5%, 100% 0, 100% 95%, 0% 100%);
  padding: 5rem 0;
  background: linear-gradient(90deg, rgba(0, 102, 204, 0.95), rgba(63, 163, 224, 0.95)), url(../img/bg-banner.jpg) no-repeat center bottom/cover fixed;
  overflow: hidden;
}
.product-description .container {
  padding: 2rem;
  color: white;
}
.product-description .container h2 {
  margin-bottom: 1rem;
}
.product-description .container .mg-line {
  height: 4px;
  width: 100px;
  background-color: var(--margenta);
}
@media (min-width: 750px) {
  .product-description {
    clip-path: polygon(0 20%, 100% 0, 100% 80%, 0% 100%);
    padding: 10rem 0;
  }
  .product-description .container {
    max-width: 1050px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.product-gallery {
  position: relative;
  z-index: 2;
  padding: 2rem 2rem 7rem 2rem;
}
.product-gallery img.bg-image2 {
  position: absolute;
  z-index: 1;
  bottom: -400px;
  right: -150px;
  rotate: -40deg;
  width: 100%;
  opacity: 0.5;
}
@media (max-width: 750px) {
  .product-gallery img.bg-image2 {
    right: 0;
    bottom: -100px;
    rotate: -60deg;
    width: 1000px;
    height: 1000px;
  }
}
.product-gallery h2 {
  margin-bottom: 1rem;
}
.product-gallery .bl-line {
  height: 4px;
  width: 60px;
  background-color: var(--brightblue);
}
.product-gallery .gallery-content {
  position: relative;
  z-index: 2;
  margin-top: 3rem;
}
.product-gallery .gallery-content .wpcp-carousel-wrapper .wpcp-single-item {
  border-radius: 15px;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}
.product-gallery .gallery-content .wpcp-carousel-wrapper .wpcp-single-item img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 750px) {
  .product-gallery .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .product-gallery .container .gallery-content .wpcp-carousel-wrapper .wpcp-single-item img {
    height: 400px;
    width: 300px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.search-results-container .container {
  padding: 7rem 2rem;
}
.search-results-container .container h2 span {
  color: var(--margenta);
}
.search-results-container .container .search-result-item {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  margin: 2rem 0;
}
.search-results-container .container .search-result-item .desktop {
  display: none;
}
.search-results-container .container .search-result-item img {
  height: 150px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.search-results-container .container .search-result-item .btn {
  font-size: clamp(1rem, 0.9632rem + 0.1307vw, 1.125rem);
  font-weight: 600;
  width: 100%;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  border: 0;
  border-radius: 1rem;
  padding: 1rem 2rem;
  background-color: var(--dark);
  color: var(--white);
  transition: all 0.3s;
  padding: 1rem 0.5rem;
}
.search-results-container .container .search-result-item .btn:hover {
  background-color: var(--yellow);
  color: var(--dark);
}
@media (min-width: 750px) {
  .search-results-container .container .search-result-item {
    flex-direction: row;
    justify-content: space-between;
  }
  .search-results-container .container .search-result-item .desktop {
    display: block;
  }
  .search-results-container .container .search-result-item .mobile {
    display: none;
  }
  .search-results-container .container .search-result-item a:not(.btn) {
    flex-basis: 40%;
  }
  .search-results-container .container .search-result-item a:not(.btn) img {
    height: 400px;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .search-results-container .container .search-result-item .content {
    flex-basis: 60%;
    padding-left: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
  }
  .search-results-container .container .search-result-item .content .btn {
    width: 50%;
  }
}/*# sourceMappingURL=main.css.map */